extends layout

block content

    section.Section#Intro
        .IntroHeadline Frontex Risk Analysis Network Q2 2015
        .BigNumber#TotalImmigrantsCounter 123456789
        .SmallText Immigrants in EU total in 2015


    section.Section#Routes
        .Caption 
            .Caption-title Routes
            .Caption-text Detections of illegal border- crossing at the EU’s external borders, Q2 2015

    section.Section#Refusals
        .Caption 
            .Caption-title Refusals per border type, Q2 2015
            .Caption-text In Q2 2015, 28 189 refusals of entry at the EU external borders were reported, which is not a significantly higher number than both during the previous quarter and in the same period last year. 
        .Visualization
            svg.Visualisation-graphic
            .Visualization-controls
                .Visualization-controlButton Total
                .Visualization-controlButton Land
                .Visualization-controlButton Sea
                .Visualization-controlButton Air

    section.Section#CrossingNationalities
        .Caption 
            .Caption-title Nationalities of illegal border crossers
            .Caption-text Main nationalities of illegal border-crossers, April–June 2015
        .Visualization
            svg.Visualisation-graphic
            .Visualization-controls
                .Visualization-controlButton Total
                .Visualization-controlButton Land
                .Visualization-controlButton Sea

    section.Section#Stayers
        .Caption 
            .Caption-title Illegal stayers
            .Caption-text 
        .Visualization
            svg.Visualisation-graphic
            .Visualization-controls
                .Visualization-controlButton By nationalities
                .Visualization-controlButton By place of detection
