extends layout

block content

    #Visualizations

    section#Intro
        .IntroHeadline Frontex Risk Analysis Network Q2 2015
        .BigNumber 1000000
        .SmallText Immigrants in EU total in 2015
        .u-vBlock


    section#Routes
        .Caption 
            .Caption-title Routes
            .Caption-text Detections of illegal border- crossing at the 
                a EU’s external borders
                |, Q2 2015

    section#Nationalities
        .Caption 
            .Caption-title Border Crossers
            .Caption-text Main nationalities of illegal border-crossers, April–June 2015

    section#Refusals
        .Caption 
            .Caption-title Refusals per border type, Q2 2015
            .Caption-text In Q2 2015, 28 189 refusals of entry at the EU external borders were reported, which is not a significantly higher number than both during the previous quarter and in the same period last year. 

    section#StayersOnExit
        .Caption 
            .Caption-title Illegal stayers on exit
            .Caption-text 

    section#Stayers
        .Caption 
            .Caption-title Illegal stayers
            .Caption-text 

    section#Facilitators
        .Caption 
            .Caption-title Facilitators
            .Caption-text 

    section#Returns
        .Caption 
            .Caption-title Returns
            .Caption-text 



    footer.Footer
        .Footer-entry A project by Immanuel Sterzik, Lisa Vogt and Jan Wirth
        .Footer-entry Made with roots.cx and d3.js
