extends layout

block content
    #FrontexVisualisation(ng-app='frontexVisualisationApp')
        #Intro
            h1 Frontex Risk Analysis Network
            p FRAN Quarterly reports are prepared by the Frontex Risk Analysis Unit and provide a regular overview of irregular migration at the EU external borders, based on the irregular migration data exchanged among Member State border-control authorities within the cooperative framework of the Frontex Risk Analysis Network (FRAN) and its subsidiary, the European Union Document-Fraud Risk Analysis Network (EDF-RAN). 
                | This site was created by students of the DHBW Mosbach who visualised the FRAN Quarterly report of the Quarter 2 (April - June) of 2015.

        .Section#Crossings(section='crossings' ng-class='getColorClasses()' highlight-color='red' base-tones='dark' focus='euMiddleEast')
            .Section-story
                h2 Crossings
                p Detections of crossings at individual Border Crossing Points reported by nationality. "Border Crossing Point" means any crossing point authorized by the competent authorities for the crossing of external borders (Article 2 sec. 8 of the Schengen Borders Code). 
                .selected SELECTED COUNTRY {{selectedCountry}}
                .selected hinted COUNTRY {{hintedCountry}}
            .Section-visualisation
                map-vis
                stream-vis

        .Section#Refusals(section='refusals' ng-class='getColorClasses()' highlight-color='blue' base-tones='light' focus='euClose')
            .Section-story
                h2 Refusals
                p In Q2 2015, 28 189 refusals of entry at the EU external borders were reported, which is not a significantly higher number than both during the previous quarter and in the same period last year. A substantial increase of around 60% in relation to Q2 2014 was observed for refusals issued to Ukrainian nationals, 80% of whom were refused at the Polish border.
            .Section-visualisation
                map-vis
                stream-vis

        .Section#Stays(section='stays')
            .Section-story
                h2 Illegal stayers
                p In Q2 2015, most detections of illegal stay were related to persons leaving the EU through German airports. Compared to the same period in 2014, the reported number increased by more than one-third. The increase was to a very large extent caused by Kosovo* citizens trying to leave through German airports with- out a residence permit or a valid visa.
            .Section-visualisation
                map-vis

        .Section#ReturnDecisions(section='returnDecisions')
            .Section-story
                h2 Return decisions issued
                p Foreigner return decisions are issued if residence conditions in respective EU countries are violated. The visualised numbers are return decisions issued by top ten target nationalities.
            .Section-visualisation
                stream-vis

        .Section#EffectiveReturns(section='effectiveReturns')
            .Section-story
                h2 Effective Returns
                p Return is often grouped into one of two types: either voluntary or forced (see for example UKBA 2012). ‘Voluntary’ refers to any situation where the migrant returns under their free will; ‘forced’ refers to returns where the migrant is forcibly removed from the host country. The displayed data represents the number of people effectively returned to third countries by top ten target nationalities.
            .Section-visualisation
                stream-vis

        #Outro
            p A project by Jan Wirth, Immanuel Sterzik and Lisa Vogt of DHBW Mosbach
            a(href='#') Source
            h3 Technologies
            ul
                li d3.js
                li angular
                li roots.cx
