extends layout

block content
    #FrontexVisualisation(ng-app='frontexVisualisationApp')
        nav
            ul.nav
                .nav-heading index
                li(ng-repeat="section in sections").nav-item
                    a( ng-href="#{{section | capFirst}}") {{section | camelToSpaceCase}}
        #Intro
            h1 Frontex Risk Analysis Network
            p FRAN Quarterly reports are prepared by the Frontex Risk Analysis Unit and provide a regular overview of irregular migration at the EU external borders, based on the irregular migration data exchanged among Member State border-control authorities within the cooperative framework of the Frontex Risk Analysis Network (FRAN) and its subsidiary, the European Union Document-Fraud Risk Analysis Network (EDF-RAN). 
            p.creators This site was created by students of the DHBW Mosbach who visualised the FRAN Quarterly report of the Quarter 2 (April - June) of 2015.

        .Section#Crossings(section='crossings' ng-class='getColorClasses()' highlight-color='red' base-tones='dark' focus='euMiddleEast')
            .Section-story
                .Section-storyBackground
                .Section-heading
                    h2 Crossings

                .Section-text
                    h5 Over 170.000 Detections of illegal border-crossing in Q2 2015
                    p This is the highest number of illegal border-crossings since FRAN data collection began in 2007. A record number of 68.178 illegal border-crossings were reported from the EU’s external borders with Turkey, which represents an increase of over 380% compared with the previous quarter and more than 670% in relation to the same period of 2014. With 40% and 30%, Afghans and Syrians were the most detected nationalities of migrants detected on the Western Balkan route.
            .Section-visualisation
                map-vis
                .Sidebar
                    stream-vis
                    .hinted-country {{hintedCountry | codeToCountryName}}
                    p Detections of crossings at individual Border Crossing Points reported by nationality. "Border Crossing Point" means any crossing point authorized by the competent authorities for the crossing of external borders (Article 2 sec. 8 of the Schengen Borders Code). 

        .Section#Refusals(section='refusals' ng-class='getColorClasses()' highlight-color='blue' base-tones='light' focus='westernWorld')
            .Section-story
                .Section-storyBackground
                .Section-heading: h2 Refusals
                .Section-text
                    h5 Most refusals of entry issued to Ukrainian nationalities
                    p A substantial increase of around 60% in relation of Q2 2014 was observed for refusals issued to Ukrainian nationals, 80% of whom were refused at the Polish border. Once again, most detections of clandestine entry (almost 90%) were reported by Bulgaria, through which a large share of the migrantory flow transisting Turkey is channelled. 
            .Section-visualisation
                map-vis
                .Sidebar
                    stream-vis
                    .hinted-country {{hintedCountry | codeToCountryName}}
                    p These graphics visualise the Refusals issued at external EU borders. They are grouped by the nationality of the recipient.

        .Section#Stays(section='stays' ng-class='getColorClasses()' highlight-color='magenta' base-tones='dark' focus='euMiddleEast')
            .Section-story
                .Section-storyBackground
                .Section-heading: h2 Illegal stayers
                .Section-text
                    h5 Most illegal stayers on exit detected at German airports
                    p In Q2 2015, detections of illegal stay were almost 40% higher than during the same quarter of 2014 and amounted to more than 140 000 persons reported in the EU/ Schengen area. 
                        br
                        |  Also in Q2 2015 most detections of illegal stay were related to persons leaving the EU through German airports. Compared to the same period in 2014 the number increased by more than one-third. 

            .Section-visualisation
                map-vis
                .Sidebar
                    stream-vis
                    .hinted-country {{hintedCountry | codeToCountryName}}
                    p The growing number were to a very large extent caused by Kosovo citizens trying to leave through German airports with- out a residence permit or a valid visa.

        .Section#ReturnDecisions(section='returnDecisions' ng-class='getColorClasses()' highlight-color='green' base-tones='light' focus='euMiddleEast')
            .Section-story
                .Section-storyBackground
                .Section-heading: h2 Return decisions issued
                .Section-text
                    h5 13% more return decision compared to Q2 2014
                    p In Q2 2015, all indicators showed increasing trends compared with the situation a year ago. Compared with Q2 2014, detections of illegal border-crossing at the external borders increased by more than 140% and the number of asylum applicants – by two thirds. In relation to the previous quarter all indicators except for illegal border-crossing at BCPs went up, which was traditionally expected after the winter months. Furthermore, five important indicators (asylum, apprehended facilitators, detections of illegal border-crossing between BCPs, illegal stay and effective returns) reached their highest ever recorded levels since data collection for the respective indicators began. 
            .Section-visualisation
                map-vis
                .Sidebar
                    stream-vis
                    .hinted-country {{hintedCountry | codeToCountryName}}
                    p Foreigner return decisions are issued if residence conditions in respective EU countries are violated. The visualised numbers are return decisions issued, grouped by target nationalities.

        .Section#EffectiveReturns(section='effectiveReturns' ng-class='getColorClasses()' highlight-color='magenta' base-tones='dark' focus='euMiddleEast')
            .Section-story
                .Section-storyBackground
                .Section-heading: h2 Effective Returns
                .Section-text
                    h5 Number of effective returns at the same level as in 2014
                    p In Q2 2015, Member State authorities issued 72 168 decisions to third country nationals with an obligation to leave the EU following an administrative or judicial decision. This is 13% more than the in the previous quarter and 20% more than one year ago.
            .Section-visualisation
                map-vis
                .Sidebar
                    stream-vis
                    .hinted-country {{hintedCountry | codeToCountryName}}
                    p Return is often grouped into one of two types: either voluntary or forced (see for example UKBA 2012). ‘Voluntary’ refers to any situation where the migrant returns under their free will; ‘forced’ refers to returns where the migrant is forcibly removed from the host country. The displayed data represents the number of people effectively returned to third countries by top ten target nationalities.
        #Outro
            p A project by Jan Wirth, Immanuel Sterzik and Lisa Vogt of DHBW Mosbach
            a(href='#') Source
            h3 Technologies
            ul
                li d3.js
                li angular
                li roots.cx
