#Visualizations
    > div
    > svg
        display none
        absolute top 0 left 0
    #map
        display block
        opacity 0.3
        pointer-events none
        filter blur(vr-block(0.5))
        transform scale3d(1.2,1.2,1)
    &.is-focusedOn
        &Refusals
            svg
                display block
        &Intro
        &Routes
        &Returns
            #map
                filter blur(0)
                pointer-events all
                transform scale3d(1,1,1)
        &Routes
            #map
                opacity 0.8

#RefusalsTree
    z-index 200
#map
    transition 1s
    backface-visibility hidden
    perspective 1000
    transform translateZ(0)
