@import '_settings'
.Crossings
    &-map
        width 800px
        height 900px
.Refusals
    &-map
        width 1300px
        height 900px
    &-graph
        width 200px
        background light
        transform scale(0.7) translateX(-100px) translateY(-30vh)
