@import '_settings'
.Crossings
    &-map
        width 800px
        height 900px
.Refusals
    &-map
        width 1300px
        height 900px
    &-graph
        width 200px
        background light
        transform scale(0.7) translateX(-800px) translateY(-100px)
#Refusals
    .Section-story
        &:before
            background-color transparentify(light, light, 0.6) !important
        color dark
        h2 
            fixed top 0 left 200px
            background dark
            color light
            font-size 50px
#Crossings
    background black
