@import '_settings'
@import '_typographic'

offDark = #167A8B
intenseDark = #111
light = #2DEA8F
offLight = #24B273
dark = #243D44
dark = #243D44
highlight = #C44F74

reset-css()
typographic()

// base
body
    margin 0
    letter-spacing vr-block(0.03)
    background dark

// utilities
.u-vBlock
    margin-top vr-block(4)

// Modules
.Section
    size 100vw 100vh
    relative()
    overflow hidden
    display flex
    align-items center
    justify-content flex-end
    transition background 0.3s ease-out

.Caption
    z-index 100
    color light
    width vr-block(10)
    margin-right vr-block(3)
    relative()
    &-title
        t-h3()
        color offLight
        font-weight 100
    &-text a
        padding vr-block(0.1)
        margin vr-block(-0.1)
        border-bottom vr-block(0.05) solid offLight
        &:hover
            background-color intenseDark
    &:before
        content ''
        absolute top vr-block(2) left vr-block(1)
        background-color transparentify(dark, dark, 0.8)
        size 100%
        z-index -1

.BigNumber
    t-h1()
    font-weight bold
.IntroHeadline
    t-h4()

.Visualization
    absolute top 0 left 0
    size 100%
    &-controls
        display flex
        absolute bottom 0 left 0
    &-controlButton
        padding vr-block(0.5) vr-block(1)
        background offLight
        color dark
        transition 0.3s $ease-out-quart
        border none
        &.is-Selected
            transform translateX(vr-block(0.2)) translateY(vr-block(0.2))
            background offDark
            color offLight
            z-index -1
        &:hover
            background highlight
            color light
            transform translateX(vr-block(-0.2)) translateY(vr-block(-0.2))




// section styles
#Intro
    text-align center
    color white
    flex-direction column
    justify-content center



// svg general styles
svg
    user-select none
    cursor default



// map styles

.Map
    &-wrap
        fixed top 0 left 0
        z-index 100
        height 100vh

.datamaps-subunit
    stroke-width 0.3 !important
    stroke offDark !important

.datamaps
    &-arc
        stroke-width 0.3 !important
        stroke linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%) !important

.datamaps-subunit
    fill intenseDark !important

#map
    transition 1s
    backface-visibility hidden
    perspective 1000
    transform translateZ(0)
