@import '_settings'
@import '_typographic'

offDark = #167A8B
intenseDark = #111

reset-css()
typographic()

body
    margin 0
    letter-spacing vr-block(0.03)

section
    size 100vw 100vh
    relative()
    overflow hidden
    display flex

.u-vBlock
    margin-top vr-block(4)

light = #2DEA8F
offLight = #24B273
.Caption
    color light
    width vr-block(10)
    height vr-block(10)
    absolute top vr-block(8) right vr-block(2)
    &-title
        t-h3()
        color offLight
        font-weight 100
    &-text a
        padding vr-block(0.1)
        margin vr-block(-0.1)
        border-bottom vr-block(0.05) solid offLight
        &:hover
            background-color intenseDark

.BigNumber
    t-h1()
    font-weight bold
.IntroHeadline
    t-h4()

.Footer
    background intenseDark
    color white
    padding vr-block(2)

#Intro
    text-align center
    background red
    color white
    flex-direction column
    justify-content center

#Routes
    background green
    color white

#Nationalities
    background lightgreen

#Refusals
    background yellow

#StayersOnExit
    background lightgreen

#Stayers
    background yellow

#Facilitators
    background lightgreen

#Returns
    background yellow


.Map
    &-wrap
        fixed top 0 left 0
        z-index 100
        height 100vh

#Visualizations
    width 1682px
    height 928px


.Refusals
    padding vr-block(2)

.link
    stroke black
    fill transparent
    stroke-linecap round

.country
    pointer-events none
.node
    cursor pointer
svg
    user-select none
    cursor default

.datamaps-subunit
    fill red
    stroke-width 0.1 !important

dark = #243D44

#Visualizations
    fixed top 0 left 0
    size 100vw 100vh
    z-index 100

section
    background dark !important
    border-bottom vr-block(0.1) solid offDark


