@import '_settings'
@import '_typographic'

reset-css()
typographic()
border-box-html()

grid-overlay()




// MIXINS

shadeBackground()
    *
        relative()
        z-index 100
    &:before
        absolute top 0 left 0
        size 100%

        z-index 10
        content ''
        display block





// BASE
body
    border-right 1px solid black
    width 1920px
    margin 0
    letter-spacing vr-block(0.03)

#FrontexVisualisation
    width 1920px
    margin 0 auto

h2
    text-transform uppercase
    letter-spacing vr-block(0.07)





// MAP STYLES

.datamaps-subunit
    stroke-width 0.3 !important


map-vis
    display block
    size vr-block(13)





// STREAM GRAPH

stream-vis
    margin 0 0 vr-block(3) vr-block(3)
    overflow visible
    display block
    .&-svg
        overflow visible
        size 100%
        display block
    text
        fill black
    .stream-layer
        transition 0.2s
        cursor pointer
        &:hover
            fill red
        fill black
    display block
    size vr-block(13)
    svg
        display block

.axisY
    .tick
        line
            transition 0.1s
            stroke-dasharray 1px 5px
        text
            transform translateX(-30px)
            font-family 'Input Sans Condensed'
.axisX
    .tick
        line
            transition 0.1s
            stroke-width 1px
            stroke-dasharray 1px 5px
        text
            transform translateY(30px)
            font-family monospace
.tick
    &:hover
        line
            stroke-dasharray 5, 10
            stroke-width 2
        text
    line
        transition 0.1s
    text
        transition 0.1s






// SECTIONS

.Section
    flex-wrap wrap
    align-items center
    justify-content space-between

    &-story
        width 100%
        background-size cover !important
        shadeBackground()
    &-visualisation
        display flex
        justify-content space-between

#Intro
.Section
    overflow auto
    border-bottom 1px solid base02
    padding vr-block(5) vr-block(5)

